*, *::before, *::after {
  box-sizing: border-box;
}


body{
  --border-radius: 1.2rem;
  margin: 0;
  background: rgb(0,243,255);
  background: linear-gradient(90deg, rgba(0,243,255,1) 0%, rgba(213,0,230,1) 61%);  
}

#calculator{
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
 
}

#display{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #323E4D;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

#equals{
  border-bottom-right-radius: var(--border-radius);
  }

#decimal{
  border-bottom-left-radius: var(--border-radius);
}

#display > #currentOperand{
  color : white;
  font-size: 2.5rem;
}

#display > #previousOperand{
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

#clear, #equals{
  grid-column: span 2;
}

#calculator > button{
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  font-size: 2rem;

}

#calculator > button:hover,
#calculator > button:focus{
  background-color: rgba(255, 255, 255, .7);
}
